body{
  background-color: hsl(30, 54%, 90%);
}

.main-page{
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  margin-top: 76px;
  margin-left: 200px;
  margin-right: 200px;
}

img{
  object-fit: fill;
  border-radius: 10px;
}
