body{
  background-color: hsl(30, 54%, 90%);
}

p{
  font-size: 12px;
  
  font-weight: 600;
}

p,li{
  font-family: 'Outfit', sans-serif;
  color: hsl(30, 10%, 34%);
}

h2, .info{
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}

.darker{
  color: hsl(30, 10%, 34%);
  display: inline;
  font-weight: bold;
  font-size: 16px;
}
.info{
  font-size: 14px;
}

.main-page{
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  margin-top: 100px;
  margin-left: 380px;
  margin-right: 380px;
  margin-bottom: 100px;
}

img{
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
}

/* ==== table element styles ==== */

table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-bottom: 2px solid hsl(30, 54%, 90%);

  margin-bottom: 20px;
}

td{
  padding: 10px;
  border: 1px solid hsl(30, 54%, 90%);
}

.ingredients{
  color: hsl(30, 10%, 34%);
  font-weight: 600;
  font-size: 16px;
}

/* ===== ul lists styles ===== */

ul {
  list-style: none;
  padding-left: 1em;
}

.ingredient-li {
  display: flex;
  align-items: flex-start;
  color: hsl(30, 10%, 34%);
  font-weight: 600;
  font-size: 16px;
}

.ingredient-li::before {
  content: "•";
  color: hsl(14, 45%, 36%);
  font-size: 1em;
  margin-right: 1.2em;
  line-height: 1;
}


.preparation-time{
  background-color: hsl(330, 100%, 98%);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  margin-top: 26px;
}

h3{
  color: hsl(332, 51%, 32%);
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  margin: 0;
}

.preparation-li::before {
  content: "•";
  color: hsl(332, 51%, 32%);
  font-size: 1em;
  margin-right: 1.2em;
}

/* ==== ol list styles ==== */

